{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div style="width:500px; margin-top:80px;" class="mx-auto">
    <div class="border-bottom d-flex justify-content-between">
      <h4>로그인</h4>
      <b>코딩의 정석</b>
    </div>
    <br>

    <form method="post" class="post-form">

      {% csrf_token %}

      {% include 'form_errors.html' %}

      <div class="form-group">
        <label for="username">사용자ID</label>
        <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
      </div>
      <br>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
      </div>

      <div class="row">
        <div class="col-6">
          <br>
          <button type="submit" class="btn btn-success mt-1">로그인</button>
        </div>
        <div class="col-6  mt-1">
          <small id="help" class="form-text text-muted">
            <i>if (you != member):</i>          
          </small>
          <br>
          <a href="{% url 'member:signup' %}" class="btn btn-light mt-1">회원가입</a>
        </div>
      </div>
    </form>

  </div>
{% endblock content %}
