<div class="mt-3">

  <a href="#" class="python btn btn-outline-primary" {% comment %} data-python="{% url 'cojung:python' %}" {% endcomment %}>Python</a>

  <a href="#" class="c btn btn-outline-primary" {% comment %} data-c="{% url 'cojung:c' %}" {% endcomment %}>C</a>

  <a href="#" class="cpp btn btn-outline-primary" {% comment %} data-cpp="{% url 'cojung:cpp' %}" {% endcomment %}>C++</a>

  <a href="#" class="cs btn btn-outline-primary" {% comment %} data-cs="{% url 'cojung:cs' %}" {% endcomment %}>C#</a>

  <a href="#" class="java btn btn-outline-primary" {% comment %} data-java="{% url 'cojung:java' %}" {% endcomment %}>Java</a>

  <a href="#" class="kotlin btn btn-outline-primary" {% comment %} data-kotlin="{% url 'cojung:kotlin' %}" {% endcomment %}>Kotlin</a>

  <a href="#" class="mysql btn btn-outline-primary" {% comment %} data-mysql="{% url 'cojung:mysql' %}" {% endcomment %}>MySQL</a>

</div>