{% extends 'base.html' %}

{% block content %}
<form method = 'POST' action = "{% url 'cojung:answer_create' question.id %}">
    {% csrf_token %}
    
    <div class = 'form-group'>
        <textarea {% if not user.is_authenticated %} disabled = 'disabled' {% endif %}
            name = 'content' id = 'content' class = 'form-control' row = '16'>
        </textarea>
        <input {% if not user.is_authenticated  %} disabled = 'disabled'  {% endif %}
        type = 'submit'value = '답변 등록'  class = 'btn btn-secondary'>
    </div>

</form>
{% endblock content %}