{% extends 'base.html' %}

{% block content %}
<div>
    <strong>
        {{question.answer_set.count}} 개의 답변
    </strong>
</div>

<div>
    {% if question.answer_set.count > 0 %}
        {% for answer in question.answer_set.all %}
            <div style = "margin : 20px 0px">
                <strong>
                    {% if answer.user == question.user %} <strong style = 'color:#eb5d56'>[작성자]</strong>{% endif %} {{answer.user.username}}
                </strong>
                <div style = "color:#c3c4c4">
                    {{answer.create_date}}
                </div>
                <div class = "bg-light" style = "padding:0px 20px; white-space : pre-line;">
                    {{answer.content}}
                    {% if request.user == answer.user %}
                    <div class = 'd-flex justify-content-end'>
                        <a href = "{% url 'cojung:answer_modify' answer.id %}" class="btn btn-outline-secondary" role="button" style = "margin: 0px 2px">수정</a>
                        <a href="#" data-uri = "{% url 'cojung:answer_delete' answer.id %}" class="delete_answer btn btn-outline-danger" role="button" style = "margin: 0px 2px">삭제</a>
                    </div>
                    {% endif %}
                </div>
                <!--Comment Line-->
                <div style = "font-size: small">
                    {% if answer.comment_set.count > 0 %}
                        {% for comment in answer.comment_set.all %}
                            <div style = 'padding: 20px 50px 20px 50px;'>
                                <i class="fa-brands fa-replyd" style = 'color : #5e66d8'></i>{% if comment.user == question.user %} <strong style = 'color:#eb5d56'>[작성자]</strong>{% endif %} <strong>{{comment.user.username}}</strong>
                                    <div style = "color:#c3c4c4">{{comment.create_date}}</div>
                                    <div style = 'padding-left : 30px; padding-right : 30px;'> 
                                        {{comment.content}} 
                                        {% if request.user == answer.user %}
                                        <div class = 'd-flex justify-content-end'>
                                            <a href = "{% url 'cojung:comment_modify' comment.id %}" class="btn btn-outline-secondary" role="button" style = "margin: 0px 2px">수정</a>
                                            <a href="#" data-uri = "{% url 'cojung:commentr_delete' comment.id %}" class="delete_comment btn btn-outline-danger" role="button" style = "margin: 0px 2px">삭제</a>
                                        </div>
                                        {% endif %}
                                    </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!--답글 작성-->
                    <div style = 'padding : 20px 50px'>
                        <strong ><i class="fa-solid fa-reply"></i> 답글 달기 </strong>
                        {% include './comment_answer_form.html' %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}