{% extends 'base.html' %}

{% block content %}
{% if question.answer_set.count > 0 %}<hr><br>{% endif %}

<strong>답변 작성</strong>
<form method = 'POST' action = "{% url 'cojung:answer_create' question.id %}">
    {% csrf_token %}
    
    {% if form.errors %}
        <div class = 'alert alert-danger' role = 'alert'>
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{field.label}}</strong>
                    {{field.errors}}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class = 'form-group'>
        <textarea {% if not user.is_authenticated %} disabled = 'disabled' {% endif %}
            name = 'content' id = 'content' class = 'form-control' row = '16'></textarea>
        <input {% if not user.is_authenticated  %} disabled = 'disabled'  {% endif %}
        type = 'submit'value = '답변 등록'  class = 'btn btn-secondary'>
    </div>

</form>
{% endblock content %}