<form method = 'POST' action = "{% url 'cojung:comment_answer_create' answer.id %}">
    {% csrf_token %}
    
    {% if form.errors %}
        <div class = 'alert alert-danger' role = 'alert'>
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{field.label}}</strong>
                    {{field.errors}}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class = 'form-group'>
        <textarea {% if not user.is_authenticated %} disabled = 'disabled' {% endif %}
            name = 'content' id = 'content' class = 'form-control' row = '30'></textarea>
        <input {% if not user.is_authenticated  %} disabled = 'disabled'  {% endif %}
        type = 'submit' value = '답글 등록'  class = 'btn btn-secondary mt-10'>
    </div>
</form>