<!--Main Site-->
<!--Problems List-->

{% extends 'base.html' %}

{% block content %}
  <div class='container-fluid' style='margin-top : 80px'>
    <!--정렬창/검색 추가-->
    <div class = 'row justify-content-between my-3' style = 'margin-bottom : 10px'>
      <!--정렬창 추가-->
      <div class = 'col-2'>
        <select class = 'form-control so'>
          <!--최신순-->
          <option value = 'recent' 
            {% if so == 'recent' %}
              selected
            {% endif %}>
            최신순
          </option>
          <!--어려운순-->
          <option value = 'hard'
            {% if so == 'hard' %}
              selected
            {% endif %}>
            어려운순
          </option>
          <!--쉬운순-->
          <option value = 'easy'
            {% if so == 'easy' %}
              selected
            {% endif %}>
            쉬운순
          </option>
          <!--풀이순-->
          <option value = 'resolve'
          {% if so == 'resolve' %}
            selected
          {% endif %}>
            풀이가 많은순
          </option>
        </select>
      </div>
      <!--정렬창 추가 끝-->
      <!--검색창 추가-->
      <div class = 'col-4 '>
        <div class = 'input-group'>
          <input type = 'text' class = 'form-control kw' value = "{{kw|default_if_none:''}}">
          <div class = 'input-group-append'>
            <button class = 'btn btn-outline-secondary' type = 'button' id = 'btn_search'>검색</button>
          </div>
        </div>
        <!--검색창 추가 끝-->
      </div>
    </div>
    <!--정렬창/검색 추가 끝-->
    <!--문제/질문 리스트-->
    <table class='table table-hover table-bordered'>
      <thead>
        <tr class="thead-light">
          <th style='width:50px'>번호</th>
          <th>제목</th>
          <th style='width:60px'>작성자</th>
          <th style='width:65px'>쉬워요</th>
          <th style='width:85px'>어려워요</th>
          <th style='width:65px'>풀이수</th>
        </tr>
      </thead>
      <tbody>
        {% if problemLst %}
          {% for problem in problemLst %}
            <tr>
              <td>{{problem.id}}</td>
              <td>
                <!--====================-->
                <!--문제 url 만들어지면 수정 -->
                <!--====================-->
                <a class='subject' href="{% url 'cojung:detail' problem.id %}">
                  {{problem.subject}}
                </a>
                <!--====================-->
                <!--문제 url 만들어지면 수정 -->
                <!--====================-->
              </td>
              <td>{{problem.user.username}}</td>
              <td>{{problem.easy.count}}</td>
              <td>{{problem.hard.count}}</td>
              <td>{{problem.resolve_set.count}}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <!--글 업로드 버튼-->
  {% include 'buttons.html' %}

  <!--페이징 처리-->
  {% include 'pagination_problem.html' %}

  <!--============-->
  <!--Form-->
  <!--============-->
  <form id = 'searchform' method = 'get' action = "{% url 'cojung:index' %}">
    <input type = 'hidden' id = 'kw' name = 'kw' value = "{{kw}}">
    <input type = 'hidden' id = 'page' name = 'page' value = "{{page}}">
    <input type = 'hidden' id = 'so' name = 'so' value = "{{so}}">
  </form>
  <!--============-->
  <!--Form End-->
  <!--============-->
{% endblock content %}

{% block script %}
  <script type = 'text/javascript'>
    $(document).ready(function() {
      /*페이징 처리*/
      $('.page-link').on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchform").submit();
      });
      /*검색처리*/
      $('#btn_search').on('click', function() {
        $("#page").val(1);
        $("#kw").val($(".kw").val());
        $("#searchform").submit();
      });
      /*정렬처리*/
      $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchform").submit();
      });
    });
  </script>
{% endblock script %}