<!--Main Site-->
<!--Problems List-->

{% extends 'base.html' %}

{% block content %}
  <div class='container-fluid' style='margin-top : 80px'>
    <h2>
      <i class="fa-solid fa-brain"></i>
      코딩 문제 풀기
    </h2>
    <br>
    <!--정렬창/카테고리/검색 추가-->
    <div class = 'd-flex justify-content-between my-3' style = 'margin-bottom : 10px'>
      <!--정렬창 추가-->
      <div class = 'row justify-content-left'>
        <div class = 'col-8'>
          <select class = 'form-control so'>
            <!--최신순-->
            <option value = 'recent' 
              {% if so == 'recent' %}
                selected
              {% endif %}>
              최신순
            </option>
            <!--어려운순-->
            <option value = 'hard'
              {% if so == 'hard' %}
                selected
              {% endif %}>
              어려운순
            </option>
            <!--쉬운순-->
            <option value = 'easy'
              {% if so == 'easy' %}
                selected
              {% endif %}>
              쉬운순
            </option>
            <!--풀이순-->
            <option value = 'resolve'
            {% if so == 'resolve' %}
              selected
            {% endif %}>
              풀이가 많은순
            </option>
          </select>
        </div>
        <!--정령창 추가 끝-->
        <!--카테고리 추가-->
        <div class="col-1 dropdown">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            언어
          </button>
          <form id = 'langform' name = 'lang' action = "{% url 'cojung:index' %}" method = 'get'>
            <div class="dropdown-menu">
              {% for lang in langAllLst %}
                <label class = 'dropdown-item form-check-label'>
                  <input type='checkbox' class = 'form-check-input check-lang' value = {{lang.name}} name = 'lang' {% if lang.name in langLst %} checked {% endif %}> {{lang.name}}
                </label>
              {% endfor %}
            </div>
          </form>
        </div>
        <!-- 언어 선택시 언어 표시 -->
        <div class = 'mt-2' id = 'lang-print'>
          {% for lang in langLst %}
            <span class="badge bg-secondary"> {{lang}}</span>
          {% endfor %}
        </div>
      </div>
      <!--카테고리 추가 끝-->

      <!--검색창 추가-->
      <div class = 'col-3'>
        <div class = 'input-group'>
          <input type = 'text' class = 'form-control kw' value = "{{kw|default_if_none:''}}">
          <div class = 'input-group-append'>
            <button class = 'btn btn-outline-secondary' type = 'button' id = 'btn_search'>검색</button>
          </div>
        </div>
      </div>
      <!--검색창 추가 끝-->
    </div>
    <!--정렬창/카테고리/검색 추가 끝-->

    <!--문제/질문 리스트-->
    <!--문제 리스트 카드목록-->
    {% if problemLst %}
      <div class="row">
      {% for problem in problemLst %}
          <div class="col-md-4 mb-5">
              <div class="card h-100">
                  <div class="card-body">
                    <div class = 'row'>
                      <div class = 'col-7'>
                        <h2 class="card-title mb-3" style = "overflow: hidden; white-space: normal;  
                        display : -webkit-box; -webkit-line-clamp : 1; -webkit-box-orient : vertical; width: 250px;">
                        {{problem.subject}}
                        </h2>
                        <p class="card-text" style = "overflow: hidden; white-space: normal;  
                        display : -webkit-box; -webkit-line-clamp : 3; -webkit-box-orient : vertical; width: 250px;"> 
                          {{ problem.content|striptags|cut:"&nbsp;" }} 
                        </p> <!--card-text-->
                      </div> <!--col-8-->
                      <div class = 'col-5'>
                        <div class = 'd-flex justify-content-end'>
                        <button type="button" class="btn btn-outline-success mb-1" disabled = "disabled">
                          쉬워요 <span class="badge bg-success" style='font-weight : bold'>{{problem.easy.count}}</span>
                        </button>
                        </div>
                        <div class = 'd-flex justify-content-end'>
                          <button type="button" class="btn btn-outline-danger" disabled = "disabled">
                            어려워요 <span class="badge bg-danger" style='font-weight : bold'>{{problem.hard.count}}</span>
                          </button>
                        </div>
                      </div> <!--col-4-->
                    </div> <!--row-->
                  </div> <!--card-body-->
                  <div class="card-footer">
                    <a class="btn btn-secondary btn-sm" href="{% url 'cojung:detail' problem.id %}">문제 보기</a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'cojung:resolve_detail' problem.id %}">풀이 보기 ({{problem.resolve_set.count}})</a>
                  </div>
              </div> <!--card h-100-->
          </div> <!--col-md-4 mb-5-->
      {% endfor %}
      </div>
    {% endif %}
    
    {% comment %} <table class='table table-hover table-bordered'>
      <thead>
        <tr class="thead-light">
          <th style='width:50px'>번호</th>
          <th>제목</th>
          <th style='width:60px'>작성자</th>
          <th style='width:65px'>쉬워요</th>
          <th style='width:85px'>어려워요</th>
          <th style='width:65px'>풀이수</th>
        </tr>
      </thead>
      <tbody>
        {% if problemLst %}
          {% for problem in problemLst %}
            <tr>
              <td>{{problem.id}}</td>
              <td>
                <!--====================-->
                <!--문제 url 만들어지면 수정 -->
                <!--====================-->
                <a class='subject' href="{% url 'cojung:detail' problem.id %}">
                  {{problem.subject}}
                </a>
                <!--====================-->
                <!--문제 url 만들어지면 수정 -->
                <!--====================-->
              </td>
              <td>{{problem.user.username}}</td>
              <td>{{problem.easy.count}}</td>
              <td>{{problem.hard.count}}</td>
              <td>{{problem.resolve_set.count}}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div> {% endcomment %}

  <!--글 업로드 버튼-->
  {% include 'buttons.html' %}

  <!--페이징 처리-->
  {% include 'pagination_problem.html' %}

  <!--============-->
  <!--Form-->
  <!--============-->
  <form id = 'searchform' method = 'get' action = "{% url 'cojung:index' %}">
    <input type = 'hidden' id = 'kw' name = 'kw' value = "{{kw}}">
    <input type = 'hidden' id = 'page' name = 'page' value = "{{page}}">
    <input type = 'hidden' id = 'so' name = 'so' value = "{{so}}">
    <div id = 'lang-link' style = 'visibility:hidden'>
      {% for lang in langAllLst %}
        <input type = 'checkbox' class = 'form-check-input check-lang' id = "{{lang.name}}" value = "{{lang.name}}" name = 'lang' {% if lang.name in langLst %} checked {% endif %}> {{lang.name}}
      {% endfor %}
    </div>
  </form>
  <!--============-->
  <!--Form End-->
  <!--============-->
{% endblock content %}

{% block script %}
  <script type = 'text/javascript'>
    $(document).ready(function() {
      /*페이징 처리*/
      $('.page-link').on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchform").submit();
      });
      /*검색처리*/
      $('#btn_search').on('click', function() {
        $("#page").val(1);
        $("#kw").val($(".kw").val());
        $("#searchform").submit();
      });
      /*정렬처리*/
      $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchform").submit();
      });
      /*카테고리 처리*/
      $(".check-lang").on('change', function() { 
        $("#langform").submit();
      });
    });
  </script>
{% endblock script %}