<!--Question List-->

{% extends 'base.html' %}

{% block content %}
<div class = 'container-fluid' style = 'margin-top : 80px'>
    <h2>
        <i class="fa-solid fa-person-circle-question"></i>
        질문하기
    </h2>
    <!--검색창 추가-->
    <div class = 'row d-flex justify-content-end my-3'>
        <div class =  'col-4'>
            <div class = 'input-group'>
                <input type = 'text' class = 'form-control kw' value = "{{kw|default_if_none:''}}">
                <div class = 'input-group-append'>
                    <button class = 'btn btn-outline-secondary' id = 'btn-search'> 검색 </button>
                </div>
            </div>
        </div>
    </div>
    <!--검색창 추가 끝-->
    <!--문제/질문 리스트-->
    <table class = 'table table-hover'>
        <thead>
            <tr class = "thead-light">
                <th style='width:50px'>번호</th>
                <th>제목</th>
                <th style='width:70px'>작성자</th>
                <th style='width:70px'>답변수</th>
            </tr>
        </thead>
        <tbody>
            {% if questionLst %}
                {% for question in questionLst %}
                    <tr>
                        <td>{{question.id}}</td>
                        <td>
                            <a class = 'subject' href = "{% url 'cojung:question_detail' question.id %}" style = "text-decoration: none; color : black;">
                                {% if question.problem %}
                                    <span style = "font-weight : bold; color : navy">[{{question.problem.subject}}]</span>
                                {% endif %}
                                {{question.subject}}
                            </a>
                        </td>
                        <td>{{question.user.username}}</td>
                        <td>{{question.answer_set.count}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<!--글 업로드 버튼-->
{% include 'buttons.html' %}

<!--페이징 처리-->
{% include 'pagination_question.html' %}

<!--============-->
<!--Form 추가-->
<!--============-->
<form id = 'searchForm' method='get' action = "{% url 'cojung:question' %}">
    <input type = 'hidden' id = 'kw' name = 'kw' value = "{{kw|default_if_none:''}}">
    <input type = 'hidden' id = 'page' name = 'page' value = "{{page}}">
    <input type = 'hidden' id = 'problem_num' name = 'problem_num' value = "{{problem_num|default_if_none:''}}">
</form>
<!--============-->
<!--Form 추가 끝-->
<!--============-->
{% endblock content %}

{% block script %}
    <script type = 'text/javascript'>
        $(document).ready(function() {
            /*페이징처리*/
            $(".page-link").on('click', function() {
                $("#page").val($(this).data("page"));
                $("#searchForm").submit();
            });
            /*검색처리*/
            $("#btn-search").on('click', function() {
                $("#page").val(1);
                $("#kw").val($(".kw").val());
                $("#searchForm").submit();
            })
        });
    </script>
{% endblock script %}