<!--Question List-->

{% extends 'base.html' %}

{% block content %}
<div class = 'container-fluid' style = 'margin-top : 80px'>
    <!--문제/질문 리스트-->
    <table class = 'table table-hover table-bordered'>
        <thead>
            <tr class = "thead-light">
                <th style='width:50px'>번호</th>
                <th>제목</th>
                <th style='width:70px'>작성자</th>
                <th style='width:60px'>답변수</th>
            </tr>
        </thead>
        <tbody>
            {% if questionLst %}
                {% for question in questionLst %}
                    <tr>
                        <td>{{question.id}}</td>
                        <td>
                            <a class = 'subject' href = "{% url 'cojung:question_detail' question.id %}">
                                {% if question.problem %}
                                    [{{question.problem.subject}}] 
                                {% endif %}
                                {{question.subject}}
                            </a>
                        </td>
                        <td>{{question.user.username}}</td>
                        <td>{{question.answer_set.count}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<!--글 업로드 버튼-->
{% include 'buttons.html' %}

<!--페이징 처리-->
{% include 'pagination_question.html' %}

{% endblock content %}
