{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div style="width:500px; margin-top:80px" class="mx-auto">
    <div class="border-bottom">
      <h4>
        <b>질문작성</b>
      </h4>
    </div>

    <form method="post" class="post-form my-3" enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'form_errors.html' %}

      <div class="form-group">
        <label for="subject">제목</label>
        <input type="text" name="subject" class="form-control" required="required" id="subject" value="{{ form.subject.value|default_if_none:'' }}">
      </div>
      <br>
      <div class="form-group">
        <label for="content">내용</label>
        <textarea name="content" rows="10" class="form-control" id="content">{{ form.content.value|default_if_none:'' }}</textarea>
      </div>
      <br>

      <!--첨부파일 관련-->
      {% if form.txtfile.value %}
        <div>
          <label for="txtfile" class = 'mb-2'>첨부파일</label>
          <p> {{form.txtfile}} </p>
        </div>
      {% else %}
        <div class="form-group">
          <label for="txtfile" class = 'mb-2'>첨부파일</label>
          <input type="file" class="form-control my-1" name="txtfile" id="txtfile">
          <small id="help" class="form-text text-muted">
            <i class="fa-solid fa-circle-exclamation"></i>
            첨부할 파일을 업로드해주세요. 1개의 파일만이 업로드 가능합니다.
          </small>
        </div>
      {% endif %}
      <br>
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-check"></i>
        저장하기
      </button>

      <a href="{% url 'cojung:question' %}" class="btn btn-primary">
        <i class="fa-solid fa-list-ul"></i>
        목록으로
      </a>
    </form>
  </div>

{% endblock content %}

{% block style %}
  <link rel="stylesheet" href="{% static 'summernote-bs4.min.css' %}">
{% endblock style %}

{% block script %}
  <script src="{% static 'summernote-bs4.min.js' %}"></script>
  <script src="{% static 'summernote-ko-KR.min.js' %}"></script>

  <script>
    $(function () {
      // Summernote
      $('#content').summernote({height: 300})
    })
  </script>
{% endblock script %}