<!--Question_detail-->
{% load bootstrap4 %}
{% load cojung_filter %}
{% block content %}

<div class = 'container my-3'>
  <div style="margin-top:80px">
    <!--사용자 오류 표시-->
    <div>
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div class='alert alert-success my-3' role='alert'>
              <strong>{{message.tag}}</strong>
              <ul>
                <li>{{message.message}}</li>
              </ul>
          </div>
        {% else %}
          <div class='alert alert-danger my-3' role='alert'>
              <strong>{{message.tag}}</strong>
              <ul>
                <li>{{message.message}}</li>
              </ul>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!--목록으로 돌아가기 버튼-->
    <a href="{% url 'cojung:question' %}" class='btn'>
      <i class="fa-solid fa-arrow-rotate-left"></i>
      질문 목록으로 돌아가기
    </a>

    <div>
      <strong>
        {{question.user.username}}
      </strong>
      {% if question.modify_date %}
        <div style="color:#c3c4c4">
          {{question.modify_date}}(수정됨)
        </div>
      {% else %}
        <div style="color:#c3c4c4">
          {{question.create_date}}
        </div>
      {% endif %}
    </div>

    <!--제목-->
    <div>
      {% if question.problem %}
        <a style="font-weight : bold; color: #85b3b1;" href="{% url 'cojung:detail' question.problem_id %}">
          [{{question.problem.subject}}]
        </a>
      {% endif %}
      <h2 class="border-bottom py-2">
        {{question.subject}}
      </h2>
    </div>
    <br>

    <!--파일 첨부 관련-->
    {% if question.txtfile %}
      <div class = 'd-flex justify-content-end'>
        <a href="{{ question.txtfile.url }}" class="btn btn-outline-primary" target = "_blank"><i class="fa-regular fa-file"></i> 파일보기</a>
      </div>
    {% endif %}
    
    <div style="font-size : large">
      {{question.content|mark}}
    </div>
    <br>
    <hr>

    {% if request.user == question.user %}
      <div class = 'd-flex justify-content-end'>
        <a href="{% url 'cojung:question_modify' question.id %}" class="btn btn-outline-secondary" role="button" style = "margin: 0px 2px">수정</a>
        <a href="#" data-uri = "{% url 'cojung:question_delete' question.id %}" class="delete_question btn btn-outline-danger" role="button" style = "margin: 0px 2px">삭제</a>
      </div>
    {% endif %}
    <br>

    <!--답변 목록-->
    {% include './answer_list.html' %}

    <!--답변 작성-->
    {% include './answer_form.html' %}
  </div>
</div>
{% endblock content %}

<!--=============-->
<!--Script 영역-->
{% block script %}
<script>
  $(document).ready(function() {
    $(".delete_question").on("click", function() {
      if (confirm("정말로 삭제하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
    $(".delete_answer").on("click", function() {
      if (confirm("정말로 삭제하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
    $(".delete_comment").on("click", function() {
      if (confirm("정말로 삭제하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
  });
</script>
{% endblock script %}
<!--=============-->